<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ appname }} {{ version }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"/>
    <script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.serialize-object.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/rivets.bundled.min.js') }}"></script>
</head>
<body>
<div class="page">
    <div class="row" id="main-content">
        <div class="tabs show-for-small-only" data-tabs id="small-tab">
            <div class="tabs-title is-active"><a href="#left-side">Search</a></div>
            <div class="tabs-title"><a href="#right-side">Queue</a></div>
        </div>
        <div class="tabs-container" id="selections" data-tabs-content="small-tab">
            <div class="tabs-panel is-active" id="left-side">
                <div data-tabs class="tabs" id="search-tab">
                    <div class="tabs-title is-active"><a href="#simplesearch">Libary</a></div>
                    <!-- <div class="tabs-title"><a href="#advancedsearch">Advanced</a></div> -->
                    <div class="tabs-title"><a href="#youtube">YouTube</a></div>
                </div>
                <div class="tabs-container" data-tabs-content="search-tab">
                    <div class="tabs-panel" id="simplesearch">
                        <form id="simple-search-form">
                            <div class="input-group">
                                <input id="search-query" class="input-group-field" type="text" name="q" />
                                <input type="hidden" value="library" name="type" />
                                <div class="input-group-button">
                                    <button class="button" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                        <div id="search-results">
                            <ul class="vertical menu">
                                <li rv-each-result="results.items">
                                    <div class="row">
                                        <div class="columns small-10">
                                            <span class="artist">{ result.artist }</span>
                                            <span class="title">{ result.title }</span>
                                            <span class="album">{ result.album }</span>
                                        </div>
                                        <button class="button columns small-2" rv-on-click="results.addToQueue">
                                            +
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tabs-panel" id="youtube">
                        <form id="yt-search-form">
                            <div class="input-group">
                                <input id="yt-query" class="input-group-field" type="text" name="q" />
                                <input type="hidden" value="youtube" name="type" />
                                <div class="input-group-button">
                                    <button id="youtube-submit" class="button">Search</button>
                                </div>
                            </div>
                        </form>
                        <div id="yt-search-results">
                            <ul class="vertical menu">
                                <li rv-each-result="results.items">
                                    <div class="row">
                                        <div class="columns small-10">
                                            <span class="artist">{ result.artist }</span>
                                            <span class="title">{ result.title }</span>
                                            <span class="album">{ result.album }</span>
                                        </div>
                                        <button class="button columns small-2" rv-on-click="results.addToQueue">
                                            +
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--    </div>-->
            </div>
            <div class="tabs-panel" id="right-side">
                <!--        <div class="columns medium-6 small-12" id="right-side"> -->
                <div data-tabs class="tabs" id="queue-tab">
                    <div class="tabs-title is-active"><a href="#queue-list">Queue</a></div>
                    <div class="tabs-title"><a href="#recent-list">Recent</a></div>
                </div>
                <div class="tabs-container flex" data-tabs-content="queue-tab">
                    <div class="tabs-panel" id="queue-list">
                        <div id="queue-list-wrapper">
                            <ul id="queue" class="vertical menu">
                                <li rv-if="queue.current | eq null" id="current">
                                    {% if admin == True -%}
                                    <div class="row">
                                        <div class="columns small-10">
                                    {%- endif %}
                                    <div class="row">
                                        <span class="artist">{ queue.current.artist }</span>
                                        <span class="title">{ queue.current.title }</span>
                                        <span class="album">{ queue.current.album }</span>
                                    </div>
                                    <div class="row">
                                        <span class="singer">{ queue.current.singer }</span>
                                    </div>
                                    {% if admin == True -%}
                                        </div>
                                        <div class="columns small-2">
                                            <button class="button alert" rv-on-click="queue.abort">Abort</button>
                                        </div>
                                    </div>
                                    {%- endif %}

                                </li>
                                <li rv-each-entry="queue.queue">
                                    {% if admin == True -%}
                                    <div class="row">
                                        <div class="columns small-10">
                                    {%- endif %}
                                    <div class="row">
                                        <span class="artist">{ entry.artist }</span>
                                        <span class="title">{ entry.title }</span>
                                        <span class="album">{ entry.album }</span>
                                    </div>
                                    <div class="row">
                                        <span class="singer">{ entry.singer }</span>
                                    </div>
                                    {% if admin == True -%}
                                        </div>
                                        <div class="columns small-2">
                                            <button class="button alert" rv-on-click="queue.deleteFromQueue">Delete</button>
                                        </div>
                                    </div>
                                    {%- endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tabs-container flex" data-tabs-content="queue-tab">
                    <div class="tabs-panel" id="recent-list">
                        <div id="recent-list-wrapper">
                            <ol id="last10" class="vertical menu">
                                <li rv-each-entry="queue.last10">
                                    <div class="row">
                                        <span class="artist">{ entry.artist }</span>
                                        <span class="title">{ entry.title }</span>
                                        <span class="album">{ entry.album }</span>
                                    </div>
                                    <div class="row">
                                        <span class="singer">{ entry.singer }</span>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    results = {
        items : [],
        addToQueue : function(event, item) {
            event.preventDefault();
            var singer = prompt("Singer:");
            $.post('queue', JSON.stringify({'id': item.result.id, 'singer': singer}), updateHandler, 'json' );
        }
    };

    yt_results = {
        items : [],
        addToQueue : function(event, item) {
            event.preventDefault();
            var singer = prompt("Singer:");
            $.post('queue', JSON.stringify({'id': item.result.id, 'singer': singer, 'type': 'youtube'}), updateHandler, 'json' );
        }
    };

    queue = {
        current: null,
        last10: [],
        queue: [],
        deleteFromQueue: function (event, item) {
            event.preventDefault();
            $.ajax({
                method: 'patch',
                url: 'queue',
                data: JSON.stringify({'action': 'delete', 'param': {'index': item.index} }),
                success: updateHandler,
                dataType: 'json'
            });
        },
        abort: function(event) {
            event.preventDefault();
            $.ajax({
                method: 'patch',
                url: 'queue',
                data: JSON.stringify({'action': 'skip'}),
                success: updateHandler,
                dataType: 'json'
            });
        }
    };
    rivets.bind(document.getElementById("search-results"), {results: results});
    rivets.bind(document.getElementById("yt-search-results"), {results: yt_results});
    rivets.bind(document.getElementById("queue"), {queue: queue});
    rivets.bind(document.getElementById("last10"), {queue: queue});

    function updateHandler(data) {
        queue.queue = data['queue'];
        queue.current = data['current'];
        queue.last10 = data['last10'];
    }

    $("#simple-search-form").on("submit", function (event) {
        event.preventDefault();
        $.get("query", $(this).serializeObject(), function(data) {
            results.items = data['result'];
        })
    });

    $("#yt-search-form").on("submit", function (event) {
        event.preventDefault();
        $.get("query", $(this).serializeObject(), function(data) {
            yt_results.items = data['result'];
        })
    });

    $("#youtube-form").on("submit", function (event){
        event.preventDefault();
        query = $(this).serializeObject();
        query['type'] = "youtube";
        query['singer'] = prompt("Singer:");
        $.post('queue', JSON.stringify(query), updateHandler, 'json');
    });

    $(document).foundation();
    $.get("queue", updateHandler);
    setInterval(function() {
        $.get("queue", updateHandler)
    }, 2000);
</script>
</html>
