<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ appname }} {{ version }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}"/>
    <script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.serialize-object.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/rivets.bundled.min.js') }}"></script>
</head>
<body>
<div class="page">
    <div class="row" id="main-content">
        <div class="hide-for-large">
            <div class="splitter">
                <div class="comp-column">
                    <div data-tabs class="tabs" id="main-tab">
                        <div class="tabs-title is-active"><a href="#simplesearch"><i class="fa fa-search fa-3x"></i></a></div>
                        <div class="tabs-title"><a href="#youtube"><i class="fa fa-youtube fa-3x"></i></a></div>
                        <div class="tabs-title"><a href="#queue-list" id="queue-tab"><i class="fa fa-list fa-3x"></i></a></div>
                        <div class="tabs-title"><a href="#recent-list"><i class="fa fa-history fa-3x"></i></a></div>
                    </div>
                    <div class="tabs-container" data-tabs-content="main-tab">
                        <div class="tabs-panel" id="simplesearch">
                            <div class="vsplit">
                                <form id="simple-search-form" class="form">
                                    <div class="input-group">
                                        <input id="search-query" class="input-group-field" type="search" placeholder="Search Library" name="q" />
                                        <input type="hidden" value="library" name="type" />
                                        <div class="input-group-button">
                                            <button class="button" type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                                <div id="search-results" class="results">
                                    <ul class="vertical menu" >
                                        <li rv-each-result="results.items">
                                            <div class="row">
                                                <div class="columns small-10">
                                                    <span class="artist">{ result.artist }</span>
                                                    <span class="title">{ result.title }</span>
                                                    <span class="album">{ result.album }</span>
                                                </div>
                                                <div class="columns small-2">
                                                    <button class="button fright" rv-on-click="results.addToQueue">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-panel" id="youtube">
                            <div class="vsplit">
                                <form id="yt-search-form" class="form">
                                        {% if not no_channels %}
                                        <select id="yt-channel" name="yt-channel" onchange="ytselect(event)" form="yt-search-form">
                                            {% for channel in channels %}
                                                <option value="{{ channel[1] }}">{{ channel[0] }}</option>
                                            {% endfor %}
                                            {% if not only_channels %}
                                            <option value="no_channel">No Channel</option>
                                            {% endif %}
                                        </select>
                                        {% endif %}
                                    <div class="warning">
                                        <b>Attention:</b> YouTube Songs are often only <i>sing along</i> or <i>lyrics</i> versions and not true karaoke songs. Consider searching the library or specific karaoke channels via the selection menu above.
                                    </div>
                                <div class="input-group">
                                        <input id="yt-query" class="input-group-field" type="search"
                                               placeholder="Search YouTube" name="q" />
                                        <input type="hidden" value="youtube" name="type" />
                                        <div class="input-group-button">
                                            <button class="button" type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                                <div id="yt-search-results" class="results">
                                    <ul class="vertical menu">
                                        <li rv-each-result="results.items">
                                            <div class="row">
                                                <div class="columns small-10">
                                                    <span class="artist">{ result.artist }</span>
                                                    <span class="title">{ result.title }</span>
                                                    <span class="album">{ result.album }</span>
                                                </div>
                                                <button class="button fright" rv-on-click="results.addToQueue">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-panel" id="queue-list">
                            <div class="vsplit">
                                <div id="queue-list-wrapper" class="results">
                                    <ul id="queue" class="vertical menu">
                                        <li rv-if="queue.current | eq null" id="current">
                                            {% if admin == True -%}
                                            <div class="row">
                                                <div class="columns small-9">
                                                    {%- endif %}
                                                    <div class="row">
                                                        <span class="artist">{ queue.current.artist }</span>
                                                        <span class="title">{ queue.current.title }</span>
                                                        <span class="album">{ queue.current.album }</span>
                                                    </div>
                                                    <div class="row">
                                                        <span class="singer">{ queue.current.singer }</span>
                                                    </div>
                                                    {% if admin == True -%}
                                                </div>
                                                <div class="columns small-3">
                                                    <div class="button-group">
                                                        <button class="button alert fright" rv-on-click="queue.abort"><i class="fa fa-step-forward"></i></button>
                                                        <button class="button alert fright" rv-on-click="queue.kill"><i class="fa fa-times"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            {%- endif %}

                                        </li>
                                        <li rv-each-entry="queue.queue">
                                            {% if admin == True -%}
                                            <div class="row">
                                                <div class="columns small-9">
                                                    {%- endif %}
                                                    <div class="row">
                                                        <span class="artist">{ entry.artist }</span>
                                                        <span class="title">{ entry.title }</span>
                                                        <span class="album">{ entry.album }</span>
                                                    </div>
                                                    <div class="row">
                                                        <span class="singer">{ entry.singer }</span>
                                                        <span class="eta">{ entry.etamin }</span>
                                                    </div>
                                                    {% if admin == True -%}
                                                </div>
                                                <div class="columns small-3">
                                                    <button class="button alert fright" rv-on-click="queue.deleteFromQueue"><i class="fa fa-minus"></i></button>
                                                </div>
                                            </div>
                                            {%- endif %}
                                        </li>
                                    {% if admin == True %}
                                        <li>
                                            <div class="row">
                                                <div class="columns small-12">
                                                        <a class="button" download="queue.json" rv-href="queue.data">Save</a>
                                                        <label for="small-bulk-upload" class="button bulk-upload-label">Bulk Append</label>
                                                        <input type="file" id="small-bulk-upload" rv-on-change="queue.bulk_append" class="show-for-sr">
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-panel" id="recent-list">
                            <div class="vsplit">
                                <div id="recent-list-wrapper" class="results">
                                    <ol id="last10" class="vertical menu">
                                        <li rv-each-entry="queue.last10">
                                            <div class="row">
                                                <span class="artist">{ entry.artist }</span>
                                                <span class="title">{ entry.title }</span>
                                                <span class="album">{ entry.album }</span>
                                            </div>
                                            <div class="row">
                                                <span class="singer">{ entry.singer }</span>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="show-for-large">
            <div class="splitter">
                <div class="comp-column" id="left-side">
                    <div data-tabs class="tabs" id="search-tab">
                        <div class="tabs-title is-active"><a href="#large-simplesearch">Library</a></div>
                        <div class="tabs-title"><a href="#large-youtube">YouTube</a></div>
                    </div>
                    <div class="tabs-container" data-tabs-content="search-tab">
                        <div class="tabs-panel" id="large-simplesearch">
                            <div class="vsplit">
                                <form id="large-simple-search-form" class="form">
                                    <div class="input-group">
                                        <input id="large-search-query" class="input-group-field" type="search" placeholder="Search Library" name="q" />
                                        <input type="hidden" value="library" name="type" />
                                        <div class="input-group-button">
                                            <button class="button" type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                                <div id="large-search-results" class="results">
                                    <ul class="vertical menu">
                                        <li rv-each-result="results.items">
                                            <div class="row">
                                                <div class="columns small-10">
                                                    <span class="artist">{ result.artist }</span>
                                                    <span class="title">{ result.title }</span>
                                                    <span class="album">{ result.album }</span>
                                                </div>
                                                <div class="columns small-2">
                                                    <button class="button fright" rv-on-click="results.addToQueue">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-panel" id="large-youtube">
                            <div class="vsplit">
                                <form id="large-yt-search-form" class="form">
                                    {% if not no_channels %}
                                        <select id="large-yt-channel" name='yt-channel' onchange="ytselect(event)" form="large-yt-search-form">
                                            {% for channel in channels %}
                                                <option value="{{ channel[1] }}">{{ channel[0] }}</option>
                                            {% endfor %}
                                            {% if not only_channels %}
                                            <option value="no_channel">No Channel</option>
                                            {% endif %}
                                        </select>
                                        {% endif %}
                                    <div class="warning">
                                        <b>Attention:</b> YouTube Songs are often only <i>sing along</i> or <i>lyrics</i> versions and not true karaoke songs. Consider searching the library or specific karaoke channels via the selection menu above.
                                    </div>
                                    <div class="input-group">
                                        <input id="large-yt-query" class="input-group-field" type="search"
                                               placeholder="Search YouTube" name="q" />
                                        <input type="hidden" value="youtube" name="type" />
                                        <div class="input-group-button">
                                            <button id="large-youtube-submit" class="button"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                                <div id="large-yt-search-results" class="results">
                                    <ul class="vertical menu">
                                        <li rv-each-result="results.items">
                                            <div class="row">
                                                <div class="columns small-10">
                                                    <span class="artist">{ result.artist }</span>
                                                    <span class="title">{ result.title }</span>
                                                    <span class="album">{ result.album }</span>
                                                </div>
                                                <div class="columns small-2">
                                                    <button class="button fright" rv-on-click="results.addToQueue">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comp-column" id="right-side">
                    <div data-tabs class="tabs" id="queue-tab">
                        <div class="tabs-title is-active"><a href="#large-queue-list">Queue</a></div>
                        <div class="tabs-title"><a href="#large-recent-list">Recent</a></div>
                    </div>
                    <div class="tabs-container" data-tabs-content="queue-tab">
                        <div class="tabs-panel is-active" id="large-queue-list">
                            <div class="vsplit">
                                <div id="large-queue-list-wrapper" class="results">
                                    <ul id="large-queue" class="vertical menu">
                                        <li rv-if="queue.current | eq null" id="large-current">
                                            {% if admin == True -%}
                                            <div class="row">
                                                <div class="columns small-9">
                                                    {%- endif %}
                                                    <div class="row">
                                                        <span class="artist">{ queue.current.artist }</span>
                                                        <span class="title">{ queue.current.title }</span>
                                                        <span class="album">{ queue.current.album }</span>
                                                    </div>
                                                    <div class="row">
                                                        <span class="singer">{ queue.current.singer }</span>
                                                    </div>
                                                    {% if admin == True -%}
                                                </div>
                                                        <div class="columns small-3">
                                                            <div class="button-group">
                                                                <button class="button alert fright" rv-on-click="queue.kill">
                                                                    <i class="fa fa-times"></i>
                                                                </button>
                                                                <button class="button alert fright" rv-on-click="queue.abort">
                                                                    <i class="fa fa-step-forward"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                            </div>
                                            {%- endif %}

                                        </li>
                                        <li {% if admin == True %} draggable="true" {% endif %} rv-each-entry="queue.queue">
                                            {% if admin == True -%}
                                            <div class="row">
                                                <div class="columns small-9">
                                                    {%- endif %}
                                                    <div class="row">
                                                        <span class="artist">{ entry.artist }</span>
                                                        <span class="title">{ entry.title }</span>
                                                        <span class="album">{ entry.album }</span>
                                                    </div>
                                                    <div class="row">
                                                        <span class="singer">{ entry.singer }</span>
                                                        <span class="eta">{ entry.etamin }</span>
                                                    </div>
                                                    {% if admin == True -%}
                                                </div>
                                                <div class="columns small-3">
                                                    <div class="button-group">
                                                    <button class="button alert fright" rv-on-click="queue.moveup">
                                                        <i class="fa fa-arrow-circle-up"></i>
                                                    </button>
                                                    <button class="button alert fright" rv-on-click="queue.deleteFromQueue">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                    </div>
                                                </div>
                                            </div>
                                            {%- endif %}
                                        </li>
                                    {% if admin == True %}
                                        <li>
                                            <div class="row">
                                                <div class="columns small-6">
                                                    <a class="button" download="queue.json" rv-href="queue.data">Save</a>
                                                    <label for="large-bulk-upload" class="button bulk-upload-label">Bulk Append</label>
                                                    <input type="file" id="large-bulk-upload" rv-on-change="queue.bulk_append" class="show-for-sr">
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tabs-panel" id="large-recent-list">
                            <div class="vsplit">
                                <div id="large-recent-list-wrapper" class="results">
                                    <ol id="large-last10" class="vertical menu">
                                        <li rv-each-entry="queue.last10">
                                            <div class="row">
                                                <span class="artist">{ entry.artist }</span>
                                                <span class="title">{ entry.title }</span>
                                                <span class="album">{ entry.album }</span>
                                            </div>
                                            <div class="row">
                                                <span class="singer">{ entry.singer }</span>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function ytselect(event) {
        console.log(event.target.value);
        var ytwarning = document.getElementsById("ytwarning");
        if(event.target.value === "no_channel") {
            ytwarning.style.display = "list-item";
        }
        ytwarning.style.display = "none";
    }

    $(document).foundation();
    results = {
        items : [],
        addToQueue : function(event, item) {
            event.preventDefault();
            var singer = prompt("Performer:");
            if(singer !== null) {
                $.post('queue', JSON.stringify({'id': item.result.id, 'singer': singer}), addQueueCallback, 'json');
            }
        }
    };

    yt_results = {
        items : [],
        addToQueue : function(event, item) {
            event.preventDefault();
            var singer = prompt("Performer:");
            if(singer !== null) {
                $.post('queue', JSON.stringify({
                    'id': item.result.id,
                    'singer': singer,
                    'type': 'youtube'
                }), addQueueCallback, 'json');
            }
        }
    };

    queue = {
        current: null,
        last10: [],
        queue: [],
        moveup: function (event, item) {
            event.preventDefault();
            if (item.index === 0) {
                alert("You cannot switch places with the current playing song.");
            } else {
                $.ajax({
                    method: 'patch',
                    url: 'queue',
                    data: JSON.stringify({'action': 'move', 'param': {'src': item.index, 'dst': item.index - 1}}),
                    success: updateHandler,
                    dataType: 'json'
                })
            }
        },
        deleteFromQueue: function (event, item) {
            event.preventDefault();
            $.ajax({
                method: 'patch',
                url: 'queue',
                data: JSON.stringify({'action': 'delete', 'param': {'index': item.index} }),
                success: updateHandler,
                dataType: 'json'
            });
        },
        bulk_append: function (event) {
          var file = event.target.files[0];
          var reader = new FileReader();
          reader.onload = (function(theFile) {
              return function(e) {
                  new_queue = JSON.parse(e.target.result);
                  $.post('queue', JSON.stringify(new_queue.queue), addQueueCallback, 'json');
              }
          })(file);
          reader.readAsText(file);
        },
        data: "",
        kill: function(event) {
            event.preventDefault();
            areyousure = confirm("This will kill the players process. Did you try skipping the song?");
            if(areyousure === true) {
                $.ajax({
                    method: 'patch',
                    url: 'queue',
                    data: JSON.stringify({'action': 'kill'}),
                    success: updateHandler,
                    dataType: 'json'
                });
            }
        },
        abort: function(event) {
            event.preventDefault();
            $.ajax({
                method: 'patch',
                url: 'queue',
                data: JSON.stringify({'action': 'skip'}),
                success: updateHandler,
                dataType: 'json'
            });
        }
    };

    if(Foundation.MediaQuery.atLeast("large")) {
        rivets.bind(document.getElementById("large-search-results"), {results: results});
        rivets.bind(document.getElementById("large-yt-search-results"), {results: yt_results});
        rivets.bind(document.getElementById("large-queue"), {queue: queue});
        rivets.bind(document.getElementById("large-last10"), {queue: queue});
    } else {
        rivets.bind(document.getElementById("search-results"), {results: results});
        rivets.bind(document.getElementById("yt-search-results"), {results: yt_results});
        rivets.bind(document.getElementById("queue"), {queue: queue});
        rivets.bind(document.getElementById("last10"), {queue: queue});
    }

    function addQueueCallback(data) {
        $("#queue-tab").click();
        updateHandler(data)
    }

    function updateHandler(data) {
        queue.queue = data['queue'];
        queue.current = data['current'];
        queue.last10 = data['last10'];
        queue.data = "data:application/json," + (JSON.stringify({
            'queue': [queue.current].concat(queue.queue)
        }))
    }

    $("#simple-search-form").on("submit", function (event) {
        event.preventDefault();
        $.get("query", $(this).serializeObject(), function(data) {
            results.items = data['result'];
        })
    });

    $("#large-simple-search-form").on("submit", function (event) {
        event.preventDefault();
        $.get("query", $(this).serializeObject(), function(data) {
            results.items = data['result'];
        })
    });

    $("#yt-search-form").on("submit", function (event) {
        event.preventDefault();
        $.get("query", $(this).serialize(), function(data) {
            yt_results.items = data['result'];
        })
    });

    $("#large-yt-search-form").on("submit", function (event) {
        event.preventDefault();
        $.get("query", $(this).serialize(), function(data) {
            yt_results.items = data['result'];
        })
    });

    $("#youtube-form").on("submit", function (event){
        event.preventDefault();
        query = $(this).serializeObject();
        query['type'] = "youtube";
        query['singer'] = prompt("Performer:");
        $.post('queue', JSON.stringify(query), updateHandler, 'json');
    });

    $("#large-youtube-form").on("submit", function (event){
        event.preventDefault();
        query = $(this).serializeObject();
        query['type'] = "youtube";
        query['singer'] = prompt("Singer:");
        $.post('queue', JSON.stringify(query), updateHandler, 'json');
    });

    $(window).on('changed.zf.mediaquery', function() {
        if(Foundation.MediaQuery.atLeast("large")) {
            rivets.bind(document.getElementById("large-search-results"), {results: results});
            rivets.bind(document.getElementById("large-yt-search-results"), {results: yt_results});
            rivets.bind(document.getElementById("large-queue"), {queue: queue});
            rivets.bind(document.getElementById("large-last10"), {queue: queue});
        } else {
            rivets.bind(document.getElementById("search-results"), {results: results});
            rivets.bind(document.getElementById("yt-search-results"), {results: yt_results});
            rivets.bind(document.getElementById("queue"), {queue: queue});
            rivets.bind(document.getElementById("last10"), {queue: queue});
        }
    });
    $.get("queue", updateHandler);
    setInterval(function() {
        $.get("queue", updateHandler)
    }, 2000);
</script>
</html>
