
li {
    opacity: 0.9;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.row {
    margin:0 !important;
    max-width: 100% !important;
}

body {
    height:100vh;
}

.page {
    height: 100vh;
    position: relative;
}

.header {
		background-color: #008000;
		font-weight: bold;
		color: #ffffff;
		display: block;
		padding: 1.25rem;
		font-size: .75rem;
		text-align: center;
		line-height: 1;
		margin-bottom: .5rem;
}

.splitter {
    display: flex;
    height: 100vh;
}

.comp-column {
    max-height: 100vh;
    flex:1;
    display: flex;
    flex-direction: column;
}

#left-side {
    margin: 0.2em 0.1em 0.2em 0.2em;
}
#middle {
    margin: 0.2em 0.1em 0.1em 0.2em;
}
#right-side {
    margin: 0.2em 0.2em 0.1em 0.2em;
}


#main-content {
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
}

.tabs-container {
    flex: 1;
    position: relative;
    overflow: auto;
}

.tabs-panel {
    height: 100%;
}

.vsplit {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.results {
    flex: 1;
    overflow-y: auto;
}

.singer {
    font-size: smaller;
    font-style: italic;
}

.title {
    font-weight: bold;
}

.input-group {
    margin-bottom: 0;
}

.menu li {
    padding:0.4em;
}

.small-12 {
    padding: 0;
}


#search-results div {
    vertical-align: middle;
    height: 100%
}


.tabs-panel {
    padding: 0;
}

.menu li:nth-child(odd) {
    background-color: #e6e6e6;
}

.menu li:nth-child(even) {
    background-color: #f6f6f6;
}



#current::before, #large-current::before{
    content: "Now Playing";
    text-align: center;
    font-weight: bold;
}

.eta {
    float: right;
}

.eta::before {
    content: "in ";
}

.eta::after {
    content: " min";
}

.artist::after{
    content: " - ";
}

.album::before {
    content: " [";
}
.album::after {
    content: "]";
}

#large-current, #current, .button, button:focus {
    background-color: #008000;
}

.button:hover, button:hover{
    background-color: #3b3b3b;
}

body {
    background: url(../syng.png) fixed;
    background-color: #8a8a8a;
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.warning {
    padding: 10px;
    background-color: #a53b2a;
}

.tabs {
    border: none;
}

.tabs-title > a{
    color: #008000;
}

.tabs-title > a:hover {
    background-color: #444444;
    color: #FFFFFF;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected="true"]{
    color: #FFFFFF;
    font-weight: bold;
    background-color: #008000;
}

div.tabs {
    display: flex;
}

.fright {
    float: right;
}

div.tabs .tabs-title {
    flex-grow: 1;
    text-align: center;
}

.tabs {
    margin-bottom: 0.1em;
    background-color: #3b3b3b;
}

.bulk-upload-label {
    margin-bottom: 0px;
}

.button-group .button {
    /* margin-left: 0.5em; */
}
